{% extends 'RFX/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}




    
    <section class="ftco-section contact-section ftco-no-pb mb-3" id="contact-section">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading"> Advance Registration Page</span>
            <h2 class="mb-4">Register as a{{category.name}}</h2>
            <p>The best place to have good forex education</p>
          </div>
        </div>

   
    <div class="mb-5 ">
      <div class="container">
         <form Method="POST"  class="form-group">
                {% csrf_token%}
          <fieldset class="from-group">
            <legend class="border-bottom mb-4">Input your Detail</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
            <button class="btn btn-primary btn-outline-primary py-2 px-4" type="submit">Sign up</button>
        </div>
         </form>   
         <div class="border-top pt-3">
        
      </div>
    </div>

  
 

    </section>      





{% endblock content %}